@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
body{
    height: 100vh; 
    
    
}
#cabecera_index{
    height:50px; 
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgba(139,139,139,0.3);
    font-family: 'Nunito', sans-serif;
     
}

#contenido_index{
    height:85vh;
 
}

#formulario{
    width:400px; 
    margin-top: 50px;;
    margin-left: auto;
    margin-right:auto;
    padding: 8px;  
}
.btn-primary{
    background: red;
    border-color: red;
    width:385px;
    margin: 3px;
}

footer{
    grid-area: footer; 
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(139,139,139,0.3);
    font-family: 'Nunito', sans-serif;
}

#cabecera_menu{
    height:50px; 
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgba(139,139,139,0.3);
    font-family: 'Nunito', sans-serif;
    background:#E7D2CC;
}

#contenido_menu{
   /* background: yellow;*/
}

#buscar_pasajeros{
   background: #E7D2CC;
    font-size: 1.3rem;
}

#registro_pasajeros{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(139,139,139,0.3);
    background: #EEEDE7;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3rem;
    padding: 20px;
    
}
#lista_pasajeros{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(139,139,139,0.3);
    height: 200px;
    margin-top: 50px;
    overflow: scroll; 
    background: #EEEDE7;
    
}


